.myStyle-container{
    width: 50%;
    margin: auto;
    > div{
        margin: 20px;
    }
    background-color: rgba(94, 139, 94, 0.014);
}
.seach{
    display: flex;
    > button{
        white-space: nowrap;
        margin-left: 5px;
    }
}

.change-password {
    > input{
        margin-bottom: 10px;
    }
    > button{
        white-space: nowrap;
    }
}

h3{
    text-align: center;
    margin-top: 10px;
}

