<ng-container @enterState>
  <ng-container *ngIf="!token">
    <div class="myStyle-container card">
      <h3>Recuperar contraseña</h3>
      <div *ngIf="!success">
        <p class="text-center">Debes de ingresar tu mail en el siguiente campo y recibirás un correo con un enlace para recuperar tu contraseña.</p>

        <div class="seach">
          <input type="text" [(ngModel)]="emailDestination" class="form-control" placeholder="Introducir correo">
          <button (click)="SendEmail()" [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Enviar
          </button>
        </div>
      </div>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-2">{{error}}</div>
      <div *ngIf="success" class="alert alert-success mt-3 mb-2">{{success}}</div>
    </div>
  </ng-container>

  <ng-container *ngIf="token && !tokenOk">
    <div class="myStyle-container card">
      <h3>Recuperar contraseña</h3>
      <div>
        <div class="change-password" *ngIf="!success">
          <input type="password" [(ngModel)]="newPassword" class="form-control" placeholder="Nueva contraseña">
          <input type="password" [(ngModel)]="repeatPassword" class="form-control" placeholder="Repetir contraseña">


          <button (click)="changePassword()" [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Enviar
          </button>
        </div>
      </div>
      <div *ngIf="success" class="alert alert-success mt-3 mb-2">{{success}}</div>
    </div>
  </ng-container>
  <ng-container *ngIf="tokenOk">
    <h3 class="text-danger">El token ha expirado</h3>
  </ng-container>
</ng-container>
