<div class="myStyle-container card">
    <div>
        <p>Gestion</p>
        <div class="seach"> 
            <input type="text" (value)="redeemTicketCode" class="form-control" placeholder="Introducir codigo de ticket">
            <button (click)="redeemTicket()" class="btn btn-info">Canjear ticket</button>
        </div>
    </div>

    <div>
        <div class="seach">
            <input type="text" class="form-control" placeholder="Buscar auto bus">
            <button class="btn btn-info">
                Cancelar bus
            </button>
        </div>
    </div>

    <div>
        <div class="seach">
            <input type="text" class="form-control" placeholder="Buscar Usuario">
            <button class="btn btn-info">
                Canbial rol de usuario
            </button>
        </div>
    </div>
</div>











