<div class="myStyle-container card">
    <div>
        <p>Gestion</p>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Introducir codigo de ticket">
            <button class="btn btn-success form-control">Canjear ticket</button>
        </div>
    </div>
    <div>
        <div>
            <input type="text" placeholder="Buscar auto bus">
            <button class="btn btn-info" role="button">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
        <div>
            <span>Bus ficha: <b>25</b></span>
            <button class="btn btn-success">
                Cancelar bus
            </button>
        </div>
    </div>
    <div>
        <div>
            <input type="text" placeholder="Buscar Usuario">
            <button class="btn btn-info">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
        <div>
            <span>Usuario mail: <b>exanple@gmail.com</b></span>
            <button class="btn btn-info">
                Canbial rol de usuario
            </button>
        </div>
    </div>
</div>
