<div class="dropdown-menu dropdown-menu-right close-window">
<form action="" class="my-container">

        <div class="confirm" [ngClass]="{'confirm-show': showSwitch}"> 
			<div class="confirm-options">
				<p>Seguro que deseas eliminar este ticket: <b>#{{ticketForDelete}}</b></p>
				<div>
					<div role="button" (click)="delete()">Aceptar</div>
					<div role="button" (click)="showSwitch = false">Cancelar</div>	
				</div>
			</div>
        </div>	

<div class=" myStyle-card-container">
    
    <ng-container *ngFor="let ticket of ticketsPending">
        <div class="myStyle-card">
            <p>Desde: <b>{{ticket.from}}</b> Hasta: <b>{{ticket.place}}</b></p> 
            <p>Fecha: <b>{{ticket.date | date :'short'}}</b> Codigo: <b>#{{ticket.code}}</b></p>
            <div class="myStyle-icon">
                <div role="button">
                    <i class="fa fa-trash-o" (click)="deleteDecition(ticket)" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        </ng-container>
        <ng-container *ngIf="ticketsPending">
            <div class="noInformation" *ngIf="ticketsPending.length == 0">
                No hay información por mostrar.
            </div>
        </ng-container>
        <div class="noInformation" *ngIf="!ticketsPending">
            <span class="spinner-border spinner-border-sm mr-1"></span>.
        </div>
    </div>

    <ng-container *ngIf="ticketsPending">
    <div class="myStyle-button-container">
        <div *ngIf="ticketsPending.length != 0">
        <a class="nav-link myStyle-pay" (click)="closeWindow()"  [routerLink]="['/pagar']">
            <i class="fa fa-money" aria-hidden="true"></i> Pagar
        </a>
        </div>
    </div>  
    </ng-container>

</form>
</div>