<div class=" myStyle-card-container">
    <form action="">
    <ng-container *ngFor="let ticket of ticketsPending">
        <div class="myStyle-card">
            <p>Desde: <b>{{ticket.from}}</b> Hasta: <b>{{ticket.place}}</b></p> 
            <p>Fecha: <b>{{ticket.date | date :'short'}}</b> Codigo: <b>#{{ticket.code}}</b></p>
            <div class="myStyle-icon">
                <div role="button">
                    <i class="fa fa-trash-o" (click)="delete(ticket.id)" aria-hidden="true"></i>
                </div>
                <div role="button" class="oo">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        </ng-container>
        <ng-container *ngIf="ticketsPending">
            <div class="noInformation" *ngIf="ticketsPending.length == 0">
                No hay información por mostrar.
            </div>
        </ng-container>
    </form>
    </div>
    <div class="myStyle-button-container">
        <a class="nav-link myStyle-pay" [routerLink]="['/pagar']">
            <i class="fa fa-money" aria-hidden="true"></i> Pagar
        </a>
    </div> 
