<div class=" myStyle-card-container">

    <div class="myStyle-card">
        <p>Desde: <b>Santo Domingo</b> Hasta: <b>Santiago</b></p>
        <p>Fecha: <b>18/05/2018</b> Hora: <b>11:40 AM</b></p>
        <div class="myStyle-icon">
            <div role="button">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
            <div role="button" class="oo">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    
    <div class="myStyle-card">
        <p>Desde: <b>Santo Domingo</b> Hasta: <b>Santiago</b></p>
        <p>Fecha: <b>18/05/2018</b> Hora: <b>11:40 AM</b></p>
        <div class="myStyle-icon">
            <div role="button">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
            <div role="button" class="oo">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div class="myStyle-card">
        <p>Desde: <b>Santo Domingo</b> Hasta: <b>Santiago</b></p>
        <p>Fecha: <b>18/05/2018</b> Hora: <b>11:40 AM</b></p>
        <div class="myStyle-icon">
            <div role="button">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
            <div role="button" class="oo">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div class="myStyle-card">
        <p>Desde: <b>Santo Domingo</b> Hasta: <b>Santiago</b></p>
        <p>Fecha: <b>18/05/2018</b> Hora: <b>11:40 AM</b></p>
        <div class="myStyle-icon">
            <div role="button">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
            <div role="button" class="oo">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    </div>
    <div class="myStyle-button-container">
        <a class="nav-link myStyle-pay" [routerLink]="['/pagar']">
            <i class="fa fa-money" aria-hidden="true"></i> Pagar
        </a>
    </div> 
