<p class="myStyle-header">Hacer pago de tickets</p>
<form class="myStyle-container">
  <div class="card">
    <div>
      <div>
        <div class="myStyle-table-container">

          <table class="table table-striped myStyle-table">
            <thead>
              <tr>
                <th scope="col">Detalles</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantida</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              
              <ng-container *ngFor="let ticket of ticketsPending">
                <tr>
                  <td>
                    <p>Desde: <b>{{ticket.from}}</b> Hasta: <b>{{ticket.place}}</b></p>
                    <p>Fecha: <b>{{ticket.date | date :'short'}}</b> Codigo: <b>#{{ticket.code}}</b></p>
                  </td>
                  <td>250$</td>
                  <td>{{ticket.quantity}}</td>
                  <td>{{ticket.quantity*250}}$</td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>
        <div class="myStyle-method">
          <p><b>Metodo de pago</b></p>
          <p>Total <b>{{total}}$</b></p>
        </div>
      </div>
      <div>
        <label class="method-button">
          <input type="radio" name="method" checked>
          <i class="fa fa-cc-paypal" aria-hidden="true"></i>
          <span>&nbsp;&nbsp;paypal</span>
        </label>
        <label class="method-button">
          <input type="radio" name="method">
          <i class="fa fa-cc-visa" aria-hidden="true"></i>
          <span>&nbsp;&nbsp;•••• 7825</span>
        </label>
        <button type="button" class="btn btn-success btn-lg" (click)="pay()" >Pagar</button>
      </div>
    </div>
  </div>
</form>
