.myStyle-method{
    display: flex;
    justify-content: space-between;
}

.myStyle-header{
    text-align: center;
    font-size: 24px;
    padding-bottom: 5px;
}

.myStyle-container{
    width: 100%;
    > div{
        height: 70vh;
        width: 60%;
        margin: auto;
        > div{
            margin: 20px 20px 20px 20px;
            height: 100%;
            > :nth-child(1){
                height: 60%;
                > p{
                    text-align: end;
                    margin: 5px 5px 0 0;
                }
            }
            > :nth-child(2){margin-top: 30px;
                height: 40%;
                button{
                    width: 100%;
                }
                > :nth-child(1){
                    border-bottom: none;
                    border-radius: 5px 5px 0 0;
                }
                > :nth-child(2){
                    border-radius: 0 0 5px 5px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}  
.method-button{ padding: 5px 0;
    border:  rgba(128, 128, 128, 0.3) 1px solid;
    display: flex;
    cursor: pointer;
    align-items: center;
    input{
        margin: 0 10px 0 10px;
    }
    i{
        font-size: 30px;
    }
}

.method-button:hover{
    background-color: rgba(128, 128, 128, 0.1);
}

.myStyle-items{
    > div{
        padding: 10px;
        border-bottom:  rgba(128, 128, 128, 0.3) 1px solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

*{
    margin: 0;
    padding: 0;
}

.myStyle-table{
    width: 100%;
}

.myStyle-table-container{
    overflow-y: scroll;height: 100%;
}