<form class="myStyle-container">
    <div class="card">
        <div>
            <div>
                <div class="myStyle-items">
                    <div>
                        <div>
                            <p>Desde: <b>Santo Domingo</b> Hasta: <b>Santiago</b></p>
                            <p>Fecha: <b>18/05/2018</b> Hora: <b>11:40 AM</b></p>
                        </div>
                        <p><b>5.38$</b></p>
                    </div>
                    <div>
                        <div>
                            <p>Desde: <b>Santo Domingo</b> Hasta: <b>Santiago</b></p>
                            <p>Fecha: <b>18/05/2018</b> Hora: <b>11:40 AM</b></p>
                        </div>
                        <p><b>5.20$</b></p>
                    </div> 
                </div>
                <p>Total <b>10.58$</b></p>
            </div>
            <div>
                <label class="method-button">
                    <input type="radio" name="method" checked>
                    <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                    <span>&nbsp;&nbsp;paypal</span>
                </label>
                <label class="method-button"> 
                    <input type="radio" name="method" >
                    <i class="fa fa-cc-visa" aria-hidden="true"></i>
                    <span>&nbsp;&nbsp;•••• 7825</span>
                </label>
                <button class="btn btn-success">Pagar</button>
            </div>
        </div>
    </div>
</form> 

